#### Problem

blood_info contains the data of blood types &
blood_fac contains the factor of each blood type.

But there is a little inconsistency. Some blood types are in blood_info which aren't in blood_fac.
Now we are going to remove these rows which contains inconsistency as well as not present in blood_fac.

In [15]:
import pandas as pd

In [3]:
blood_info = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/blood_info.csv')
blood_fac = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/blood_fac.csv')

In [13]:
blood_info.head(3)

  Name Blood
0  ABC    A+
1  BCD    A-
2  DEF   AB+

In [14]:
blood_fac.head(3)

  Blood  Fcator
0    A+       1
1    A-       2
2   AB+       3

<br/>

## Find out the the inconsistency

In [4]:
incos = set(blood_info['Blood']).difference(blood_fac['Blood'])
incos

{'L-', 'Z+'}

<br/>

## Rows with inconsistency

In [8]:
blood_info[incos_rows]

  Name Blood
7  BCD    Z+
8  DEF    L-

<br/>

## Removing the rows with inconsistency

In [10]:
cos_data = blood_info[~incos_rows]

In [11]:
cos_data

  Name Blood
0  ABC    A+
1  BCD    A-
2  DEF   AB+
3  ABC    B+
4  BCD    B+
5  DEF    B-
6  ABC    O+